@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-mini: 15px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #1a1a1a;
  --color-gold: #febe02;
  --color-steelblue: #265285;
  --color-darkslategray: #3a3a3a;

  /* border radiuses */
  --br-3xs: 10px;
  --br-11xs-3: 1.3px;
}
